.contato{
	display: flex;
	align-content: center;
}
.contato a{
	margin-top: 3%;
	font-size: 150%;
	font-weight: 500;

}
.container-fluid{
	
	background-color: #ddd;
	padding-bottom: 3%;
}

#alinhar{
	text-align: center;
	margin-top: 72px;
	margin-bottom: 2%;

}
#topo{
	background-color: #bbb;
	color: white;
}

#topo h2{
	font-size: 2.5em;
}

figure{
 	position: relative;
 }
 .legenda{
 	position: absolute;
 	bottom: 0px;
 	color: white;
 }
 .legenda a{
 	color: white;
 	font-size: 1%;
 }
footer{
	color: white;
}
.face{
	width: 70px;
	z-index: 100;
	bottom: 30px;
	position: fixed;
	margin-left: 0px;
	
	border-radius: 50%;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.whats{
	width: 70px;
	z-index: 100;
	bottom: 30px;
	right: 0px;
	position: fixed;
	padding-right: 3px;
	border-radius: 50%;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.fa-ul li{
	display:block;
	margin-bottom: 10px;
}
.card-title{
	text-align: center;
}
nav {
	color: white;
}
nav a h2 img{
	 width: 1.5em;
	  border-radius: 50%;
	  margin-right: 3px;
}
#mTopo {
	margin-top: 72px;

}
#oferecidos{
	font-size: 2.5em;
}
.sombra{
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.card{
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);

}